@import "styles/theme";

.form-row {
	display: flex;

	&.submit { justify-content: space-between; }

	& + .form-row { margin-top: 20px; }

	& .postsubmit-text {
		display: flex;
		align-items: center;
		justify-content: end;

		width: 100%;

		padding-right: 24px;

		opacity: 0;

		&.success { opacity: 1; color: $color-theme-green; }
		&.error { opacity: 1; color: #ff0000; }
	}
}
