{
	"extends": ["stylelint-config-standard"],
	"rules": {
		"comment-empty-line-before": null,
		"declaration-block-single-line-max-declarations": null,
		"declaration-empty-line-before": null,
		"font-family-no-missing-generic-family-keyword": null
	}
}
