.contacts-emails {
	display: flex;
	align-items: start;
	flex-flow: row wrap;
	gap: 32px;

	margin-bottom: 32px;

	font-size: 1.6rem;
}

.contacts-emails__column {
	& h3 {
		color: #8b8b8b;
		font-size: 0.8em;
	}
}
