.contacts-emails {
	display: flex;
	flex-direction: row;
	align-items: start;

	margin-bottom: 32px;

	font-size: 1.6rem;
}

.contacts-emails-column {
	margin-right: 32px;

	& h3 { color: #8b8b8b; font-size: 0.8em; }
}
