button, .abutton {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;

	display: block;

	padding: 10px 14px;
	margin: 0;

	border: 0;

	font-size: 1.2rem !important;
	color: #fff !important;
	cursor: pointer !important;

	line-height: normal;

	background-color: var(--color-theme-green);

	box-shadow: 0 3px 10px #d8d8d8;

	transition: opacity 0.1s !important;
}

button.middle,
.abutton.middle {
	padding: 9px 12px;

	font-size: 1rem !important;
}

button.small,
.abutton.small {
	padding: 10px 12px 9px;

	font-size: 0.9rem !important;
}

button:hover,
.abutton:hover {
	opacity: 0.8 !important;
}

button:active,
.abutton:active {
	opacity: 0.6 !important;
}

button[disabled],
.abutton[disabled] {
	color: #c5c5c5 !important;

	background: #f9f9f9;

	pointer-events: none;
}

button img.btn-icon-loader,
.abutton img.btn-icon-loader {
	display: none;
	float: left;

	width: 20px;
	height: 20px;

	margin-right: 6px;
}

button.btn-auth,
.abutton.btn-auth {
	display: flex;
	align-items: center;

	position: relative;

	padding: 8px;

	color: #000;
	text-align: left;

	background-color: #fff;

	border: 1px solid #d8d8d8;

	box-shadow: 0 3px 0 #d8d8d8;

	overflow: hidden;
}

button.btn-auth img,
.abutton.btn-auth img {
	height: 24px;
	width: 24px;

	cursor: pointer !important;
}

button.btn-auth span,
.abutton.btn-auth span {
	display: inline-block;

	margin: 0 6px 0 4px;

	font-size: 1.1rem;
}

button span, .abutton span { cursor: pointer !important; }

.auth-form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	height: 300px;

	margin: 16px auto;

	box-shadow: 0 3px 10px #d8d8d8;

	overflow: hidden;
}

.auth-form-image {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 100%;

	background-color: #f7f7f7;

	border-right: 2px solid #bed6a0;
}

.auth-form-buttons {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;

	height: 100%;

	padding: 24px;
}

.auth-form-caption {
	margin-bottom: 8px;

	color: var(--color-theme-green);
	font-size: 1.2rem;
	text-align: center;
}

.contacts-form-wrapper { width: 50%; }
.contacts-form-wrapper h2 { margin-bottom: 18px; }

.form-row { display: flex; margin-bottom: 20px; }
.form-row.submit { justify-content: end; }

input[type="text"],
input[type="date"],
input[type="datetime-local"],
textarea {
	width:  100% !important;

	padding: 14px 16px;
   
	border: 1px solid #ddd;
	border-radius: 6px;
	outline: none;

	font-size: 1.2rem;

	box-shadow: 0 3px 10px #e9e9e9;

	box-sizing: border-box;
	resize: none;
}

input[type="text"]:focus { border-color: var(--color-theme-green); }

textarea {
	min-height: 148px;

	padding: 16px;

	resize: vertical;
}

textarea:focus { border-color: var(--color-theme-green); }

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] ~ label::before {
	display: block;
	content: '\f00c';
	float: left;

	width:  14px;
	height: 14px;

	margin: 6px 12px 6px 0;
	padding: 5px 5px 4px 5px;

	font-family: 'Font Awesome 5 Free';
	font-size:   1rem;
	font-weight: 900;

	text-align: center;
	color: white;
	line-height: 1rem;
	cursor: pointer;

	border: 1px solid #ddd;
	border-radius: 0.25em;

	transition: color 0.3s, border-color 0.3s, background-color 0.1s;
}

input[type="checkbox"]:checked ~ label::before {
	background: var(--color-theme-green);

	border: 1px solid var(--color-theme-green);
}
