.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 32px 0;
}

.breadcrumbs {
	padding: 8px 0;

	background: #f7f7f7;

	overflow: hidden;
}

.breadcrumbs li { display: inline-block }

.breadcrumbs li a {
	position: relative;

	padding: 6px 10px 6px 6px;
	margin: 0 0 0 6px;

	font-size: 1rem;
}

.breadcrumbs li a span { cursor: pointer !important; }

.breadcrumbs li a::before, .breadcrumbs li a::after {
	position: absolute;
	right: 0;

	content: "";

	height: 32px;
	width: 5px;

	background: #fff;
}

.breadcrumbs li a::before {
	top: -12px;

	transform: rotate(-30deg);
}

.breadcrumbs li a::after {
	bottom: -14px;

	transform: rotate(30deg);
}

.breadcrumbs .breadcrumbs-last { margin-left: 12px; }

.error-box                { width: 100%; padding: 48px; font-size: 1.2rem; display: flex; flex-direction: column; }
.error-box .error-title   { padding-bottom: 8px; font-size: 2.4rem; border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
.error-box .error-message { margin-top: 12px; }
.error-box button, .error-box .abutton { margin: 24px auto 0; align-self: center; text-transform: uppercase; }
