:root {
	--color-theme-green: #6dab1e;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;

	border: 0;

	box-sizing: border-box;

	font: inherit;
	cursor: default;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;

	vertical-align: baseline;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.rounded-all    { border-radius: 6px; }
.rounded-top    { border-radius: 6px 6px 0 0; }
.rounded-bottom { border-radius: 0 0 6px 6px; }

a, a:link, a:active, a:hover, a:visited {
	color: #000;

	text-decoration: none;
	cursor: pointer !important;

	border: none;

	transition: color 0.3s, border-color 0.3s;
}

a:hover { color: var(--color-theme-green); }

a img { cursor: pointer !important; }

p {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

p::-moz-selection { background: #4a9fce; }
p::selection      { background: #4a9fce; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing:  0;
}

hr {
	height: 2px;

	margin: 0;

	color: var(--color-theme-green);
	background-color: var(--color-theme-green);

	border: none;
	border-radius: 6px;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after,  .clear          { clear: both; }

.sfix { display: inline-block; position: relative; top: -1px; }

/*  Predefined animation classes  */
.animate-slidein-fadein-css {
	backface-visibility: hidden;
	will-change: transform, opacity;
	animation: slideIn 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000), fadeIn 400ms linear;
}

.animate-fadein-css {
	backface-visibility: hidden;
	will-change: opacity;
	animation: fadeIn 600ms linear;
	transform: translateZ(0);
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes slideIn {
	from { transform: translateY(31px) translateZ(0); }
	to   { transform: translateY(0) translateZ(0); }
}

@keyframes slideBlockTitle {
	from { transform: translateX(64px) translateZ(0); }
	to   { transform: translateX(0) translateZ(0); }
}
