.social {
	list-style: none;

	display: flex;
	justify-content: center;
	gap: 4px;

	filter: drop-shadow(2px 4px 6px #00000050);

	&__item {
		& a {
			display: block;

			height: 32px;
			width: 32px;

			border: 0;

			background-size: cover;

			transition: opacity 0.1s linear;

			&:hover {
				opacity: 60%;
			}

			&.vk {
				background-image: url("images/social_new/vk_color_64px.png");
			}

			&.fb {
				background-image: url("images/social_new/facebook_color_64px.png");
			}

			&.tw {
				background-image: url("images/social_new/twitter_color_64px.png");
			}

			&.ig {
				background-image: url("images/social_new/instagram_color_64px.png");
			}

			&.sc {
				background-image: url("images/social_new/soundcloud_color_64px.png");
			}

			&.yt {
				background-image: url("images/social_new/youtube_color_64px.png");
			}
		}
	}
}
