@import "styles/theme";

:root {
	font-family: "Open Sans", system-ui !important;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 400;

	color: #000;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: none; /* stylelint-disable-line */
	-moz-text-size-adjust: none; /* stylelint-disable-line */
	text-size-adjust: none;
}

#nprogress {
	& .peg {
		box-shadow: none !important;
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;

	border: 0;

	box-sizing: border-box;

	font: inherit;
	vertical-align: baseline;
}

button, input, optgroup, select, textarea { line-height: 1.2; }

.rounded-all { border-radius: 6px; }
.rounded-top { border-radius: 6px 6px 0 0; }
.rounded-bottom { border-radius: 0 0 6px 6px; }

a, a:link, a:active, a:hover, a:visited {
	color: inherit;

	text-decoration: none;
	cursor: pointer !important;

	border: none;

	transition: color 0.3s, border-color 0.3s, opacity 0.3s;

	&:hover { color: $color-theme-green; }

	&.link-in-text {
		color: $color-theme-green;

		&:hover { opacity: 0.8 !important; }
	}

	& img { cursor: pointer !important; }
}

::-moz-selection { color: #fff; background: $color-theme-green; } /* stylelint-disable-line */
::selection { color: #fff; background: $color-theme-green; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	height: 2px;

	margin: 0;

	color: $color-theme-green;
	background-color: $color-theme-green;

	border: none;
	border-radius: 6px;
}

h1 { font-size: 3rem; line-height: 1; }
h2 { font-size: 2rem; line-height: 1; }
h3 { font-size: 1.5rem; line-height: 1; }

p.indent { text-indent: 6px; }

.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after, .clear { clear: both; }

.sfix { display: inline-block; position: relative; top: -1px; }

.animate-slidein-fadein-css {
	backface-visibility: hidden;
	will-change: transform, opacity;
	animation: slideIn 400ms cubic-bezier(0.19, 1, 0.22, 1), fadeIn 400ms linear;
}

.animate-fadein-css {
	backface-visibility: hidden;
	will-change: opacity;
	animation: fadeIn 600ms linear;
	transform: translateZ(0);
}

@keyframes fadeIn { /* stylelint-disable-line */
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes slideIn { /* stylelint-disable-line */
	from { transform: translateY(31px) translateZ(0); }
	to { transform: translateY(0) translateZ(0); }
}

@keyframes slideMobileMenu { /* stylelint-disable-line */
	from { transform: translateX(31px) translateZ(0); }
	to { transform: translateX(0) translateZ(0); }
}

@keyframes slideBlockTitle { /* stylelint-disable-line */
	from { transform: translateX(64px) translateZ(0); }
	to { transform: translateX(0) translateZ(0); }
}
