@import "fonts/fontawesome/css/solid.min.css";
@import "styles/reset";

html,
body {
	height: 100%;
	width: 100%;
	min-width: 230px;

	background: #fff;
}

.master-container {
	position: relative;

	display: flex;
	flex-direction: column;

	min-height: 100vh;

	overflow-x: hidden;
}

.container {
	position: relative;

	width: 100%;

	margin: 0 auto;
	padding: 0 24px;

	@media (width >= 1200px) {
		max-width: 1200px;
	}
}

.stretch-container {
	width: 100%;
}

#content-holder {
	flex: 1 0 auto;

	min-height: 400px;

	z-index: 1;

	@media (width <= 992px) {
		margin-top: 66px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 32px 0;

	& > h1 {
		margin-bottom: 32px;
	}

	@media (width <= 1200px) {
		align-items: center;
	}
}
