button, .abutton {
	appearance: none;
	outline: none;

	display: block;

	padding: 10px 14px;
	margin: 0;

	border: 0;

	font-size: 1.2rem !important;
	color: #fff !important;
	cursor: pointer !important;

	line-height: normal;

	background-color: var(--color-theme-green);

	box-shadow: 0 3px 10px #d8d8d8;

	transition: opacity 0.1s !important;

	&:hover { opacity: 0.8 !important; }
	&:active { opacity: 0.6 !important; }

	&.middle {
		padding: 9px 12px;

		font-size: 1rem !important;
	}

	&.small {
		padding: 10px 12px 9px;

		font-size: 0.9rem !important;
	}

	& span { cursor: pointer !important; }

	& img.btn-icon-loader {
		display: none;
		float: left;

		width: 20px;
		height: 20px;

		margin-right: 6px;
	}
}

button[disabled], .abutton[disabled] {
	color: #c5c5c5 !important;

	background: #f9f9f9;

	pointer-events: none;
}

button.btn-auth,
.abutton.btn-auth {
	display: flex;
	align-items: center;

	position: relative;

	padding: 8px;

	color: #000;
	text-align: left;

	background-color: #fff;

	border: 1px solid #d8d8d8;

	box-shadow: 0 3px 0 #d8d8d8;

	overflow: hidden;

	& img {
		height: 24px;
		width: 24px;

		cursor: pointer !important;
	}

	& span {
		display: inline-block;

		margin: 0 6px 0 4px;

		font-size: 1.1rem;
	}
}
