.social li {
	display: inline-block;

	padding: 0;
	margin: 0 4px 0 0;

	list-style-type: none;

	& a {
		display: block;
		position: relative;

		height: 32px;
		width: 32px;

		border: 0;

		background-size: cover;

		opacity: 1;

		transition: opacity 0.1s linear;

		&:hover { opacity: 0.6; }

		&.vk { background-image: url("../../images/social_new/vk_color_64px.png"); }
		&.fb { background-image: url("../../images/social_new/facebook_color_64px.png"); }
		&.tw { background-image: url("../../images/social_new/twitter_color_64px.png"); }
		&.ig { background-image: url("../../images/social_new/instagram_color_64px.png"); }
		&.sc { background-image: url("../../images/social_new/soundcloud_color_64px.png"); }
		&.yt { background-image: url("../../images/social_new/youtube_color_64px.png"); }
	}
}
