header {
	position: relative;
	flex: 0 0 auto;

	width: 100%;

	border-bottom: 1px solid #dedede;

	box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);

	backdrop-filter: blur(5px);

	z-index: 2;
}

.stretch-container {
	&.headtop {
		height: 24px;

		background: linear-gradient(to top, #f3f3f3, #fff);

		border-bottom: 1px solid #ececec;

		font-size: 0.85rem;
		color: #4a4a4a;
	}

	&.headline {
		position: relative;

		height: 160px;
	}
}

.container {
	&.headline {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		height: 100%;
	}

	&.header-picture {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		opacity: 0.05 !important;

		z-index: -1;

		& .header-picture-wrapper {
			position: absolute;
			top: 0;
			right: 0;

			width: 40%;
			height: 100%;

			background-image: url("../../images/art.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right center;

			filter: grayscale(1);
		}
	}
}

.logotype {
	height: 100px;
	width: 320px;

	background: url("../../images/logotype_2x.png") no-repeat left center;
	background-size: contain;

	cursor: pointer !important;
}

.header-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	align-self: stretch;
}

.global-info {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.4rem;
}

.global-info-row { margin-right: 20px; color: #4a4a4a; text-align: right; }
.global-info-stroke { font-size: 1rem; }
