footer {
	position: relative;
	flex: 0 0 auto;

	width: 100%;

	z-index: 2;

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: row wrap;

		padding-bottom: 22px;

		text-align: center;
	}
}

.footer-back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: linear-gradient(to bottom, #f6fdf0, #fff);

	border-top: 1px solid #e2e2e2;

	opacity: 0.9;

	box-shadow: 0 -6px 8px 0 rgb(0 0 0 / 7%);
}

.footer-block {
	width: 30%;

	margin-top: 34px;

	font-size: 0.9rem;
	vertical-align: top;
	text-align: left;

	order: 1;

	& li {
		margin-bottom: 6px;

		& a {
			font-size: 1rem;

			border-bottom: 1px solid transparent;

			&:hover { border-color: var(--color-theme-green); }
		}
	}
}

@media (max-width: 767px) {
	.footer-block { width: 100%; }
	.footer-block.first { order: 3; }
}

@media (min-width: 768px) {
	.footer-block { width: 46%; }
	.footer-block.first { order: 3; }
}

@media (min-width: 992px) {
	.footer-block { width: 30%; }
	.footer-block.first { order: 1; }
}

.footer-block-title {
	padding-bottom: 6px;
	margin-bottom: 12px;

	font-size: 1.3rem;
	color: var(--color-theme-green);

	border-bottom: 2px solid rgb(0 0 0 / 10%);
}
