.breadcrumbs {
	padding: 8px 0;

	background: #f7f7f7;

	overflow: hidden;

	& .breadcrumb {
		display: inline-block;

		&_last {
			&__text { margin-left: 12px; }
		}

		& a {
			position: relative;

			padding: 6px 10px 6px 6px;
			margin-left: 6px;

			font-size: 1rem;

			&::before,
			&::after {
				position: absolute;
				right: 0;

				content: "";

				height: 32px;
				width: 5px;

				background: #fff;
			}

			&::before {
				top: -12px;

				transform: rotate(-30deg);
			}

			&::after {
				bottom: -14px;

				transform: rotate(30deg);
			}

			& span { cursor: pointer !important; }
		}
	}
}
